html {
    width: 100%; 
    height: 100%;
}

body {
    background-color: rgb(0, 0, 0);
}

.websitecode {
    display: grid;
    height: 890px;
    width: 1885px;
    grid-template-areas:
        'header header header header header header header'
        'menu menu menu menu menu menu menu'
        'main main main main main right right'
        'footer footer footer footer footer footer footer';
    gap: 10px;
    border: 10px;
}

.grid-container > div {
    text-align: center;
    border: 250px 0;
    font-size: 30px;
}

.code-item {
    text-align: center;
}

.heading {
    grid-area: header;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;    
    width: 1875px;    
    background-color: rgb(0, 0, 0);
}

#head1 {
    font-size: 20px;
    text-decoration-line: none;
    color: rgb(0, 0, 0);
}

.heading1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin: 300px;
}

.parlogo {
    display: flex;
    align-items: flex-start;
}

.parlogos {
    display: flex;
    justify-content: flex-end;
}

.search {
    grid-area: menu;
    height: 25px;
    width: 1875px;
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}

#search1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.mainbody {    
    grid-area: main;   
    height: 600px;    
    width: 1300px;    
    background-color: rgb(253, 253, 253);
}

#body {
    font-size: 50px;
    font-weight: bold;
    text-decoration-line: none;
    color: black;
    text-decoration: underline;
}

#body1 {
    font-size: 35px;
    font-weight: 600;
}

#body2 {
    font-size: 30px;
}

#body3 {
    font-size: 30px;
}

.pagenavigationbar {
    grid-area: right;
    height: 600px;
    width: 540px;
    background-color: rgb(253, 253, 253);
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
} 

#page1 {    
    font-size: 40px;
    text-decoration-line: none;
    color: black;
}

.one1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 180px;
    border: 10px solid black;
    background-color: rgb(253, 253, 253);
}

#page2 {    
    font-size: 40px;
    text-decoration-line: none;
    color: black;
}

.two2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 180px;
    border: 10px solid black;
    background-color: rgb(253, 253, 253);
}

#page3 {    
    font-size: 40px;
    text-decoration-line: none;
    color: black;
}

.three3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 180px;
    border: 10px solid black;
    background-color: rgb(253, 253, 253);
}

#page4 {    
    font-size: 40px;
    text-decoration-line: none;
    color: black;
}

.four4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 180px;
    border: 10px solid black;
    background-color: rgb(253, 253, 253);
}

#textforum {    
    font-size: 40px;
    text-decoration-line: none;
    color: black;
}

.textforum5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 180px;
    border: 10px solid black;
    background-color: rgb(253, 253, 253);
}

#settings {    
    font-size: 40px;
    text-decoration-line: none;
    color: black;
}

.settings6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 180px;
    border: 10px solid black;
    background-color: rgb(253, 253, 253);
}

.sociallinks {    
    display: flex;
    justify-content: space-around;
    grid-area: footer;    
    height: 75px;    
    width: 1875px;    
    background-color: rgb(253, 253, 253);
}

#instagram {
    font-size: 60px;
    text-decoration-line: none;
    color: black;
}

#x {
    font-size: 60px;
    text-decoration-line: none;
    color: black;
}

#facebook {
    font-size: 60px;
    text-decoration-line: none;
    color: black;
}

#mail {
    font-size: 60px;
    text-decoration-line: none;
    color: black;
}
