html {
    width: 100%; 
    height: 100%;
}

.websitecode {
    display: flex;
    background-image: linear-gradient(to bottom right, grey, black);
    height: 911px;
    width: 1910px;
}

.heading {
    display: flex;
    align-items: start;
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 0);
}

.mainbody {
    display: flex;
    justify-content: start;
    height: 500px;
    width: 500px;
    background-color: rgb(251, 255, 0);
}

.pagenavigationbar {
    display: flex;
    justify-content: end;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 145, 0);
}

.sociallinks {
    display: flex;
    align-items: end;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
}

#page1 {
    background-color: rgb(70, 110, 110);
}

#page2 {
    background-color: rgb(0, 255, 255);
}