html {
    width: 100%; 
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, grey, black);
}

.websitecode {
    display: grid;
    height: 890px;
    width: 1885px;
    grid-template-areas:
        'header header header header header header header'
        'menu menu menu menu menu menu menu'
        'main main main main main right right'
        'footer footer footer footer footer footer footer';
    gap: 10px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 100px 0;
    font-size: 30px;
}

.code-item {
    text-align: center;
}

.heading {
    grid-area: header;
    height: 150px;
    width: 1875px;
    background-color: rgb(0, 255, 251);
}

.search {
    grid-area: menu;
    height: 25px;
    width: 1875px;
    background-color: rgb(13, 255, 0);
}

.mainbody {
    grid-area: main;
    height: 600px;
    width: 1300px;
    background-color: rgb(251, 255, 0);
}

.pagenavigationbar {
    grid-area: right;
    height: 600px;
    width: 540px;
    background-color: rgb(255, 145, 0);
    grid-template-areas:
        'one one two two'
        'three three four four'
        'five five six six';
    gap: 10px;
    padding: 10px;
} 

.sociallinks {
    grid-area: footer;
    height: 75px;
    width: 1875px;
    background-color: rgb(255, 0, 0);
}

#page1 {
    background-color: rgb(255, 0, 0);
}

.one1 {
    grid-area: one;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
}

#page2 {
    background-color: rgb(255, 251, 0);
}

.two2 {
    grid-area: two;
    width: 100px;
    height: 100px;
    background-color: rgb(193, 90, 90);
}

#page3 {
    background-color: rgb(13, 255, 0);
}

.three3 {
    grid-area: three;
    width: 100px;
    height: 100px;
    background-color: rgb(71, 31, 31);
}

#page4 {
    background-color: rgb(0, 255, 255);
}

.four4 {
    grid-area: four;
    width: 100px;
    height: 100px;    
    background-color: rgb(155, 9, 9);
}

#textforum {
    background-color: rgb(140, 0, 255);
}

.textforum5 {
    grid-area: five;
    width: 100px;
    height: 100px;
    background-color: rgb(160, 132, 132);
}

#settings {
    background-color: rgb(255, 0, 221);
}

.settings6 {
    grid-area: six;
    width: 100px;
    height: 100px;
    background-color: rgb(46, 10, 10);
}